*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: white;
}

h1{
    color:white;
}

.content {
    width: 100vh;
    
    padding: 1.5rem;
    background-color: rgb(32, 39, 82);
    box-shadow: .3rem .3rem .2rem blue;
   
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}